.addNote {
    position: absolute;
    top: 0;
    left: 14%;
    height: 100vh;
    width: calc(100% - 14%);
    display: flex;
    flex-direction: column;
}

.light_addNote {
    background-color: white;
}

.dark_addNote {
    background-color: #010125;
}