.addNote {
    position: absolute;
    top: 0;
    left: 18%;
    height: 100vh;
    width: calc(100% - 18%);
    display: flex;
    flex-direction: column;
}

.light_addNote {
    background-color: white;
}

.dark_addNote {
    background-color: #010125;
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    .addNote {
        left: 0;
        width: 100%;
        padding-bottom: 5rem;
        /* background-color: orchid; */
    }
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
    .addNote {
        left: 26%;
        width: calc(100vw - 26%);
        /* background-color: orchid; */
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1330px) {
    .addNote {
        left: 22%;
        width: calc(100vw - 22%);
        /* background-color: orchid; */
    }
}