.folderPage {
    position: absolute;
    top: 0;
    left: 18%;
    height: 100%;
    width: calc(100vw - 18%);
    /* background-color: orange; */
}

.dark_folderPage {
    background-color: #010125;
}

.folderPage .upperDiv {
    position: relative;
    height: 15vh;
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #010125;
    /* background-color: yellowgreen; */
}

.dark_folderPage .upperDiv {
    border-bottom: 0.1rem solid white;
}

.dark_folderPage .upperDiv .count {
    color: white;
} 

.dark_folderPage .upperDiv .folder_name {
    color: white;
} 

.upperDiv .folder_edit {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    cursor: pointer;
    /* background-color: palevioletred; */
}

.upperDiv .folder_edit:hover {
    color: grey;
}

.dark_folderPage .upperDiv .folder_edit {
    color: white;
}

.dark_folderPage .upperDiv .folder_edit:hover {
    color: aqua;
}

.upperDiv .back_btn {
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
    /* background-color: palevioletred; */
}

.upperDiv .back_btn:hover {
    color: grey;
}

.dark_folderPage .upperDiv .back_btn {
    color: white;
}

.dark_folderPage .upperDiv .back_btn:hover {
    color: aqua;
}

/* Media Queries */

@media only screen and (max-width: 900px) {

    .folderPage {
        left: 0;
        width: 100%;
        /* background-color: orange; */
    }

    .folderPage .upperDiv {
        padding: 1rem 2rem;
        /* background-color: yellowgreen; */
    }

} 

@media only screen and (min-width: 901px) and (max-width: 1100px) {

    .folderPage {
        left: 25%;
        width: calc(100vw - 25%);
        /* background-color: orange; */
    }

    /* .folderPage .upperDiv {
        padding: 1rem 4rem;
        background-color: yellowgreen;
    } */

} 

@media only screen and (min-width: 1101px) and (max-width: 1330px) {

    .folderPage {
        left: 22%;
        width: calc(100vw - 22%);
        /* background-color: orange; */
    }

    /* .folderPage .upperDiv {
        padding: 1rem 2rem;
        background-color: yellowgreen;
    } */

} 