.folders {
    height: 85vh;
    width: 100%;
    padding: 1rem 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: palegreen; */
}

.folders .folder_container {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* background-color: palevioletred; */
}

.folders .folder_container .noFolders {
    margin-top: 2rem;
    width: 100%;
    color: grey;
    text-align: center;
}