@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.folder_item {
    height: 8rem;
    width: 6rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: yellowgreen; */
}

.folder_item p {
    font-family: 'Baloo 2', cursive;
    text-align: center;
    word-wrap: break-word;
}

.dark_folderItem p {
    color: white;
}

/* Media Queries */

@media only screen and (max-width: 400px) {

    .folder_item {
        height: 4.5rem;
        width: 4.5rem;
        margin: 0.5rem;
        /* background-color: yellowgreen; */
    }

}

@media only screen and (min-width: 401px) and (max-width: 480px) {

    .folder_item {
        height: 5rem;
        width: 5rem;
        /* padding: 0.2rem; */
        margin: 0.5rem 0.3rem;
        /* background-color: yellowgreen; */
    }

}

@media only screen and (min-width: 481px) and (max-width: 900px) {

    .folder_item {
        height: 6rem;
        width: 6rem;
        /* padding: 0.2rem; */
        margin: 0.5rem;
        /* background-color: yellowgreen; */
    }

}