.container {
  position: absolute;
  top: 0;
  left: 14%;
  height: 100vh;
  width: calc(100% - 14%);
  /* background-color: orange; */
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
}

.main .topDiv {
  height: 14vh;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.1rem solid grey;
  /* background-color: yellowgreen; */
}

.main .topDiv .title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
}

.main .topDiv .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: hotpink; */
}

.main .topDiv .info h3 {
  color: grey;
  /* font-weight: normal; */
}

.main .topDiv .info .mode_icon {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}