.container, .dark_container {
  position: absolute;
  top: 0;
  left: 14%;
  height: 100vh;
  width: calc(100% - 14%);
}

.container {
  background-color: white;
}

.dark_container {
  background-color: #010125;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
}

.main .topDiv {
  height: 20vh;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.1rem solid #010125;
  /* background-color: yellowgreen; */
}

.dark_container .main .topDiv {
  border-bottom: 0.1rem solid white;
}

.main .topDiv .title {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
}

.dark_container .main .topDiv .title {
  color: white;
}

.main .topDiv .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  /* background-color: hotpink; */
}

.main .topDiv .info h2 {
  color: black;
}

.dark_container .main .topDiv .info {
  color: white;
}

.dark_container .main .topDiv .info h2 {
  color: white;
}

.main .topDiv .info .mode_icon {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.dark_container .topDiv .info .mode_icon {
  color: white;
}