.loading {
    position: absolute;
    top: 0;
    left: 18%;
    min-height: 100%;
    width: calc(100vw - 18%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
    /* background-color: whitesmoke; */
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    .loading {
        left: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
    .loading {
        left: 26%;
        width: calc(100vw - 26%);
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1330px) {
    .loading {
        left: 22%;
        width: calc(100vw - 22%);
    }
}