.noteItem {
    height: 20rem;
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 1rem;
    cursor: pointer;
}

.light_item {
    border: 0.1rem solid #010125;
    background-color: white;
}

.dark_item {
    border: 0.1rem solid white;
    background-color: #010125;
}

.noteItem .title {
    width: 100%;
    /* background-color: blueviolet; */
}

.dark_item .title {
    color: white;
}

.noteItem .description {
    width: 100%;
    font-weight: normal;
    margin-top: 1rem;
    word-wrap: break-word;
    /* background-color: palegoldenrod; */
}

.light_item .description {
    color: grey;
}

.dark_item .description {
    color: white;
}