.notes {
    height: 88vh;
    width: 100%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    /* background-color: palegreen; */
}

.notes .noNotes {
    width: 100%;
    margin-top: 5vh;
    color: grey;
    text-align: center;
    /* background-color: orange; */
}