@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:wght@700&family=Lora&family=PT+Serif&display=swap');

.noteForm {
    min-height: 100vh;
    width: 100%;
    /* background-color: orange; */
}

.noteForm .titleDiv {
    min-height: 13vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.noteForm label {
    color: black;
    font-size: 1.3rem;
    font-family: 'PT Serif', serif;
    margin-bottom: 0.5rem;
}

.dark_form label {
    color: white;
}

.noteForm .titleDiv input, .noteForm .descriptionDiv textarea {
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 1.2rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    background-color: white;
}

.noteForm .titleDiv input {
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
}

.noteForm .descriptionDiv {
    height: 60vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: rebeccapurple; */
}

.noteForm .descriptionDiv textarea {
    min-height: 100%;
    font-family: 'Lora', serif;
    overflow-y: scroll;
    resize: none;
}

.noteForm .btnDiv {
    height: 15vh;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orchid; */
}

.light_form .btnDiv {
    border-bottom: 0.1rem solid #010125;
}

.dark_form .btnDiv {
    border-bottom: 0.1rem solid white;
}

.noteForm .btnDiv .btn_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

.noteForm .btnDiv .btn_container button {
    outline: none;
    height: 3rem;
    width: 8rem;
    padding: 0.3rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.3rem;
    font-family: 'Inconsolata', monospace;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btnDiv .back_btn {
    cursor: pointer;
}

.light_form .btnDiv .back_btn {
    color: #010125;
}

.dark_form .btnDiv .back_btn {
    color: white;
}

.noteForm .btnDiv .back_btn:hover {
    color: grey;
    transition: all 0.2s ease-in-out;
}

.dark_form .btnDiv .back_btn:hover {
    color: aqua;
}

.noteForm .btnDiv .btn_container .saveBtn {
    color: white;
    border: 0.1rem solid green;
    background-color: green;
}

.noteForm .btnDiv .btn_container .saveBtn:hover {
    color: green;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.noteForm .btnDiv .btn_container .deleteBtn {
    color: red;
    border: 0.1rem solid red;
    background-color: white;
}

.noteForm .btnDiv .btn_container .deleteBtn:hover {
    color: white;
    background-color: red;
    transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    .noteForm .btnDiv .btn_container button {
        height: 3rem;
        width: 6rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
    .noteForm .btnDiv .btn_container button {
        height: 3rem;
        width: 7rem;
    }
}